<section class="hero is-warning is-small">
      
        <!-- Hero content: will be in the middle -->
      
        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <nav class="tabs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/food">Explore</a></li>
                    </ul>
              </nav>
        </div>
</section>

  <!-- This is the form for adding a new dish -->
     <div class="columns is-5-tablet is-4-desktop is-3-widescreen">
  <div class="column is-one-third">
  <div class="add-dish-container">
 
        <h2>
      Add a new food review!
    </h2>   
    <form class="new-food-form">
      <div class="field">
        <label for="food_name">
        Food Name:
      </label>
      <div class="control">
            <input class="input" type="text" placeholder="Food name" id="food_name" name="food_name">
 {{food_name}}
  </div>


<div class="field">
  <label for="food_description">Description</label>
  <div class="control ">
    <input class="input is-success" type="text" placeholder="Description" id="food_description" name="food_description">
 {{food_description}}
  </div>
</div>

<div class="field">
  <label for="restaurant_name">Restaurant</label>
  <div class="control">
    <input class="input is-success" type="text" placeholder="Restaurant name" id="restaurant_name" name="restaurant_name">
{{restaurant_name}}
    </input>
  </div>
</div>

<div class="field">
  <label for="food_rating">Rating</label>
  <div class="control">
    <textarea class="textarea" placeholder="Rate this â­" id="food_rating" name="food_rating"></textarea>
    {{food_rating}}
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link" type="submit" value="Submit">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
</div>
    </form>
  </div>
    {{!-- put div here to display all reviews --}}
    <div class="menu-container">
 <div class="column is-one-third">

  {{#each foods as |food| }}
  <div class="food col-md-4">
    <p>
      {{food.id}}.
      {{food.food_name}}
    </p>
    <p>
      {{food.food_description}}
    </p>
    <p>
      {{food.restaurant_name}}
    </p>
    <p>
      {{food.food_rating}}
    </p>
  </div>
    {{/each}}
  </div>
</div>
  </div>
</div>
<script src = "./js/form.js"></script>

