<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      Add a new food review!
    </h2>
  </div>
  {{#each foods as |food|}}
  <div class="food col-md-4">
    <p>
      {{food.id}}.
      {{food.food_name}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      Food:
      {{food.food_name}}
    </p>
  </div>
  
  {{/each}}
  <!-- This is the form for adding a new dish -->
  <div class="add-dish-container">
    
    <form class="new-food-form">
      <label for="food_name">
        Food Name:
      </label>
      <br />
      <textarea id="food_name" name="food_name" rows="2" cols="30">
      {{food_name}}
    </textarea>
      <br />
      <label for="food_description">
        Description:
      </label>
      <br />
      <textarea id="food_description" name="food_description" rows="5" cols="30">
      {{food_description}}
    </textarea>
      <br />
      <label for="restaurant_name">
        Restaurant Name:
      </label>
      <br />
      <textarea id="restaurant_name" name="restaurant_name" rows="2" cols="30">
      {{restaurant_name}}
    </textarea>
      <br />
      <br />
      
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>
